div.dropdown-menu ul li {
  list-style-type: none;
}

div.dropdown-menu ul {
  columns: 2;
}

.logo {
  background-image: url(background.jpg);
}
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* design carousel */

div.carousel-item {
  background-color: gray;
}
.carousel-inner img {
  margin: auto;
}

.carousel-item img {
  height: 500px;
  width: 800px;
}

.carousel-caption {
  opacity: 0;
  transition: 500ms ease-in-out;
}

.carousel-caption p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item:hover .carousel-caption {
  opacity: 1;
}

.carousel-item img:hover {
  transition: 500ms ease-in-out;
  opacity: 0.6;
}

/*design body*/

div.row {
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
}

.byarea .row .column {
  float: left;
  width: 50%;
  padding-top: 5px;
}

.byarea {
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid rgb(165, 213, 224);
  border-radius: 20px;
  background: white;
}

.byarea div.row {
  background-color: white;
}
.byarea h1 {
  padding-bottom: 20px;
  font-family: cursive;
}

.bydish div.row {
  background-color: white;
}

.bydish {
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid rgb(165, 213, 224);
  border-radius: 20px;
  background: white;
}

.bydish .row .column {
  float: left;
  width: 50%;
}

.bydish h1 {
  padding-bottom: 20px;
  font-family: cursive;
}

div.col-6 {
  background-color: white;
}

div.review {
  border-radius: 10px;
  text-align: center;
  font-family: cursive;
}

div.post {
  margin-top: 30px;
  margin-bottom: 40px;
  border: 1px solid rgb(19, 20, 20);
  border-radius: 10px;
}

div.post img {
  width: 100%;
  margin: auto;
  display: block;
  padding-top: 0px;
  border-radius: 10px 10px 0 0;
}

div.post .content {
  width: 80%;
  padding-left: 20px;
  padding-bottom: 10px;
}

/* design footer */

.footer-basic {
  padding:40px 0;
  background-color:#141414;
  color:#fcfcfc;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #0a0000;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}